body{
    margin: 0;
    height:100vh;
    background-image:url(#);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.plan-wrapper{
    margin-top:24px;
    margin-bottom:32px;
    padding:0 80px;
    font-weight:normal;
    background-position:center;
    display: flex;
    align-items:center;
    justify-content: center;
}

.plan-card{
    border:2px solid #d8d8d8; 
    border-radius:16px;
    width:40%;
    padding:12px 24px;
}

.plan-card li{
    list-style: none;
    color:gray;
}

@media screen and (max-width: 768px) {

    .plan-card ul {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
    }

    .plan-card li {
        font-size: 14px;
        white-space: nowrap;
    }
}